<div class="show">
  <%= render partial: "posts/form", locals: {post: Post.new, destination: Destination.new}%>




<!-- <%= form_tag(destinations_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Destinations" %>
    <%= submit_tag "Search" %>
<% end %> -->

  <!-- <br></br>
  <br></br>
  <div class="sizing">
    <div class="ui divided items">
      <div class="check">
      <div class="item">
        <div class="image">
          <img src="">
        </div>
      <div class="content">
        <a class="header">ggsgs</a>
          <div class="description">
            <p id="paragraph">gsgsg</p>
          </div>
            <div class="extra">
              <div class="ui right floated primary button">
                Edit
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

</div> -->


<div class='container'>
    <div class='blog-posts'>

    <div class='post featured'>

      <a href='#'>
        <div class='image' style='background-image: url(http://media.istockphoto.com/photos/red-sunset-over-sea-in-clouds-picture-id498117640?k=6&m=498117640&s=170667a&w=0&h=3AYKzWY7GXXXc9Vpfsh0nhMalvxoj-wCv08FoavEVd0=)'>
          <div class='time'>
            <div class='date'>04</div>
            <div class='month'>APR</div>
          </div>
        </div>
        <div class='content'>
          <h1>Multiply created make behold fourth yielding living male very god.</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas illo tempore at eveniet adipisci harum error deserunt in sint aspernatur magni asperiores explicabo corporis ratione praesentium illum magnam esse ipsa dignissimos quaerat perferendis dolor vero? Maiores hic modi optio eaque...</p>
          <div class='meta'>
          <button>Edit</button>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>


<br>
</br>
<h3></h3>


    <div class="post_image">
    <ul id="show_image"></ul>
    </div>

    <div id="#myModel"></div>
    <div class="post_details">
    <p></p>
    </div>
</div>
