<div id="show">
<%= render partial: "posts/form", locals: {post: Post.new, destination: Destination.new}%>

</div>
<br></br><br>
<div class='container'>
    <div class='blog-posts'>
</div>
</div>
</div>
