<div class="heroSlideShow" id="<%=@des.id %>">
  <div class="fade-group">
    <h2></h2>
  </div>
</div>
<div class='content'>Here is Your solution!!! :-)</div>
<%= render partial: "posts/form", locals: {post: Post.new, destination: Destination.new}%>



<!-- <% if @destination_posts.present? %>
<% @destination_posts.each do |post| %>
<%= link_to post.title, post_path(post) %>
<%end%>
<%end%> -->
