<div class="heroSlideShow" id="<%=@des.id %>">
  <div class="fade-group">
  </div>
</div>
<div class='content'>Here is Your solution!!! :-)</div>



<!-- <% if @destination_posts.present? %>
<% @destination_posts.each do |post| %>
<%= link_to post.title, post_path(post) %>
<%end%>
<%end%> -->
