// Place all the styles related to the destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fade-group {
  margin: 0 auto;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.fade-group img{
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.89;
}

.fade-group img.active {
  z-index: 3;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.89;
}

.fade-group h2{
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
   z-index: 4;
   font-size: 8rem;
   text-align: center;
   font-weight: 600;
  //  letter-spacing: -.3rem;
   line-height: .9;
   margin: .67em 0;
   font-weight: 600;
   color: white;
   display: block;
}
