<div id="footer">
  <ul>
    <li>About Us</li>
    <li>Careers</li>
    <li>Contact Us</li>
    <li>Terms and Conditions</li>
    <li>Privacy Policy</li>

    <i class="facebook square icon"></i>
    <i class="tumblr icon"></i>
    <i class="instagram icon"></i>
  </ul>
</div>
