

<% if !user_signed_in? %>
  <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
    <br><br>
  <%= link_to "Sign Up", new_user_registration_path %>
   <br><br>
  <%= link_to "Log In", new_user_session_path %>
  <br><br>
<%end%>

<%if user_signed_in? %>

<div id="MenuHolder">
  <nav>
    <ul>
      <li><a>Home</a></li>
      <li><a id="blogs">Blogs</a></li>
      <li><a>Inspiration</a>
        <ul>
          <li><a hrf="#">Honeymoon and Romantic</a></li>
          <li><a hrf="#">Wildlife and Safari</a></li>
          <li><a hrf="#">Rainforest and Jungles</a></li>
          <li><a hrf="#">Beaches</a></li>
          <li><a hrf="#">Road Trip</a></li>
          <li><a hrf="#">Family</a></li>
        </ul>
      </li>
     <li><a id="nested">Publish</a></li>
      <li><a id="my-pins">Pins</a></li>
    </ul>
  </nav>
  <div class="ui search">
    <div class="ui icon input">
      <input class="prompt" type="text" placeholder="Search Destination...">
      <i class="search icon"></i>
    </div>
    <div class="results"></div>
  </div>
    <div id="log_Out">
      <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "ui item"%>
    </div>

</div>

<%end%>
