<% if !user_signed_in? %>
  <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
    <br><br>
  <%= link_to "Sign Up", new_user_registration_path %>
   <br><br>
  <%= link_to "Log In", new_user_session_path %>
  <br><br>
<% else %>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete%>
<%end%>

<div class="ui secondary  menu">
  <a class="item active">
    Home
  </a>
  <a class="item">
    Blogs
  </a>
  <a class="item">
    Destinations
  </a>
  <a class="item">
    Create Entry
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item">
      Logout
    </a>
  </div>
</div>
